<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 扫描@service、@Compont-->
    <context:component-scan base-package="com.offcn.page.service.impl"/>
    <bean id="activeMQConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="tcp://192.168.188.142:61616"/>
    </bean>
    <bean id="singleConnectionFactory" class="org.springframework.jms.connection.SingleConnectionFactory">
        <property name="targetConnectionFactory" ref="activeMQConnectionFactory"/>
    </bean>

    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="singleConnectionFactory"/>
    </bean>

    <!-- 声明接收静态页面生成发布订阅主题-->
    <bean id="pageTopic" class="org.apache.activemq.command.ActiveMQTopic">
        <constructor-arg value="youlexuan_topic_page"/>
    </bean>

    <!-- 声明，结构静态页面删除的主题-->
    <bean id="topicDeleteDestion" class="org.apache.activemq.command.ActiveMQTopic">
        <constructor-arg value="youlexuan_topic_page_delete"/>
    </bean>

    <!-- 配置消息监听容器，监听页面生成主题-->
    <bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="singleConnectionFactory"/>
        <property name="destination" ref="pageTopic"/>
        <property name="messageListener" ref="createPageLinstener"/>
    </bean>

    <!-- 配置监听容器，监听静态页面删除的主题-->
    <bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="singleConnectionFactory"/>
        <property name="destination" ref="topicDeleteDestion"/>
        <property name="messageListener" ref="deletePageListener"/>
    </bean>
</beans>